* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
  font-family: 'Lato', sans-serif;
}
.guest_container {
  width: 1000px;
  margin: auto;
  text-align: center;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
    line-height: 90%;
    margin-top: 50px;
    margin-bottom: 1em;

    @media (max-width: 300px) {
      text-align: center;
    }
  }

  .guest_form {
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;

    @media (max-width: 908px) {
      flex-direction: column;
      width: 80%;
      margin: auto;
      text-align: center;
    }

    label {
      font-size: 0.8em;
    }

    input {
      width: 250px;
      margin: auto;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      outline: none;
      background: #fff;
      transition: background-color 0.2s ease;
    }

    button {
      width: 150px;
      margin: auto;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background: rgb(244, 241, 237);
      color: black;
      cursor: pointer;
      font-weight: bolder;

      &:hover {
        background: rgb(228, 224, 220);
      }
    }
  }
  .guest_list {
    width: 500px;
    margin: auto;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 80%;
      margin: auto;
      text-align: center;
    }
    @media (max-width: 375px) {
      flex-direction: column;
      width: 100%;
      margin: auto;
      text-align: center;
    }

    h2 {
      width: 400px;
      display: flex;
    }

    ul {
      list-style-type: none;
      margin-top: 20px;

      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background: #dad6d6;
        padding: 1em 2em;

        input {
          margin-right: 1.5em;
          width: 1.4rem;
          height: 1.4rem;
        }

        button {
          background: none;
          border: none;
          color: rgb(179, 171, 160);
          font-size: 0.8em;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;

          &:hover {
            color: white; // Change the color on hover
          }
        }
      }
    }
  }
  .filters {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    padding: 1em 2em;

    button {
      padding: 1em 2em;
      background: #f2eeee;
      border: none;
    }
  }
}
